<mat-card class="card">
<h2>Student List</h2>
<mat-form-field appearance="outline">
     <mat-label>Select Student</mat-label>
     <mat-select [(ngModel)]="selectedStudentId" (selectionChange)="onSelectStudent()">
    <mat-option [value]="null">-- Select Student --</mat-option>
    <mat-option *ngFor="let s of students" [value]="s.id">
        {{s.name}}
    </mat-option>
</mat-select>

</mat-form-field>
<div class="button-row">
<button mat-raised-button color="primary" (click)="addStudent()">
    {{ editIndex !== null ? 'Update' : 'Add' }}</button>
<button mat-raised-button color="danger" (click)="reset()">Cancel</button>
    <button class="export-btn" mat-raised-button color="warn" (click)="exportToPDF()" [disabled]="students.length===0" matToolTip="Export Students to PDF">
        <mat-icon>download</mat-icon>
        Export PDF
    </button>
    <button class="export-btn" mat-raised-button color="primary" (click)="exportToExcel();">Export To Excel</button>
    <button mat-raised-button color="accent" (click)="openDialog()">Show Grid</button>
</div>
</mat-card>
<mat-card class="card">

<div class="card-header">
    <mat-icon>person_add</mat-icon>
<h2>Add Student</h2>
</div>
<div class="form-container">
<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
<input matInput [(ngModel)]="newStudent.name"  />
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Email</mat-label>
<input matInput [(ngModel)]="newStudent.email"  />
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Contact No</mat-label>
<input matInput [(ngModel)]="newStudent.contactNo"  />
</mat-form-field>

<mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
<input matInput [(ngModel)]="newStudent.address"  />
</mat-form-field>


</div>
</mat-card>


<mat-card class="card">
<h3>Student List</h3>
<mat-list>
    <mat-list-item *ngFor="let s of students; let i = index">
        <span matLine>{{i+1}}. {{s.name}}</span>
    </mat-list-item>
</mat-list>
</mat-card>




