.card {
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
  border-radius: 12px;
}

.card-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.card-header h2 {
  margin: 0;
  font-weight: 600;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

button {
  height: 56px;
}
.full-width {
  width: 100%;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 10px;
}
.button-row {
  display: flex;
  gap:12px;
  margin-top:10px;
}

/* Custom Export Button Color */
.export-btn {
  background-color: #ff9800;   /* Orange */
  color: white;
}

.export-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e91e63; /* Pink */
  color: white;
}

.export-btn:hover {
  background-color: #f57c00;
}